* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.caroussel,
.caroussel-two::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.caroussel,
.caroussel-two {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: "easyjet Rounded Book", sans-serif;
}

body button {
  cursor: pointer;
}

header {
  background-image: url(/assets/img/headbar.gif);
  color: white;
  height: 60px;
  font-size: 16px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

header > nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

header button {
  background-color: white;
  color: orange;
  border: none;
  padding: 7px 10px;
  margin: 10px 7px;
  border-radius: 2px;
}

.beach-section {
  margin-bottom: 20px;
  position: relative;
}

.beach-section img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.beach-absolute {
  position: absolute;
  top: 20px;
  height: 430px;
  width: 100vw;
}

.bookingmenu-container {
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.left-column > p:first-child {
  font-family: easyJet Generation Headline, sans-serif;
  font-size: 50px;
}

.left-column > p:nth-child(2) {
  font-size: 19px;
}

.left-column button {
  background-color: #ff6602;
  color: white;
  border: none;
  padding: 10px 30px;
  align-self: flex-start;
  font-size: 16px;
}

.left-column-price > p:nth-child(2) {
  font-size: 50px;
}

/*-------------*/

.translucent-bar-absolute {
  position: absolute;
  bottom: 0px;
  height: 130px;
  width: 100vw;
  background-color: rgb(255, 255, 255, 0.7);
}

.container-translucent {
  margin: 0 auto;
  max-width: 960px;
  height: 100%;
  padding-top: 10px;
}

.container-translucent > p:last-child {
  font-size: 12px;
}

.offers button {
  background-color: #f70;
  color: white;
  border: none;
  padding: 5px 10px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offers > div > p {
  margin-bottom: 6px;
  font-size: 14px;
}

.offers > p:first-child {
  padding: 10px 0px;
}

/*__________*/

.container-worldwide {
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
  border-top: none;
  margin-top: 50px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.container-worldwide div {
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-around;
}

.container-worldwide img {
  width: 640px;
  height: 250px;
  object-fit: cover;
  object-position: right top;
  display: block;
}

.container-worldwide button {
  background-color: #ff6602;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 150px;
  align-self: flex-end;
}

.container-worldwide p {
  align-self: auto;
  line-height: 100%;
  margin-left: 10px;
  font-size: 14px;
}

/* CAROUSSEL */

.caroussel {
  height: 380px;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  overflow: scroll;
  padding: 2px;
  margin-bottom: 50px;
}

.caroussel div {
  width: 300px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  position: relative;
}

.caroussel img {
  border-radius: 10px 10px 0px 0px;
}
.caroussel p {
  line-height: normal;
  padding: 10px;
}

.caroussel button {
  background-color: #ff6602;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  position: absolute;
  bottom: 5px;
}
/*________*/

.container-bretagne {
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
  border-top: none;
  margin-top: 50px;
  box-shadow: 0px 0px 5px gray;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 50px;
}

.container-bretagne div {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
}

.container-bretagne img {
  width: 640px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.container-bretagne button {
  background-color: #ff6602;
  color: white;
  border: none;
  padding: 10px;
  margin: 10px;
  width: 150px;
  align-self: flex-end;
}

.container-bretagne p {
  align-self: auto;
  margin-left: 10px;
  font-size: 14px;
}

/*__________*/

.triple-img {
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.triple-img > div {
  position: relative;
}

.triple-img-absolute {
  position: absolute;
  width: 285px;
  height: 220px;
  top: 0px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.triple-img img {
  display: block;
  height: 220px;
  width: 285px;
  object-fit: cover;
  box-shadow: 0 0 5px #bbb;
  border-radius: 2%;
}

.triple-img p {
  line-height: 30px;
  margin-left: 10px;
}

/*____________*/

div > h3 {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
}
h4 {
  font-size: 30px;
  color: white;
}
.triple-img-absolute p {
  color: white;
  font-size: 20px;
}

/*___Caroussel2____*/
.caroussel-two {
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  overflow: scroll;
  margin-bottom: 30px;
}

.caroussel-two > div {
  background-color: #303030;
  color: white;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  line-height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.caroussel-two i {
  margin: 0 auto;
  font-size: 40px;
  padding-bottom: 10px;
}

.caroussel-two div:hover {
  background-color: #ff6602;
}

/*___________*/

h2,
h3 {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

footer {
  background-color: #f3f3f3;
}

.container-footer {
  max-width: 960px;
  align-items: center;
  margin: 0 auto;
  border-top: none;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.container-footer p {
  font-size: 14px;
  line-height: 20px;
  color: #7b7b7b;
}

footer div {
  align-self: flex-start;
  padding: 10px;
}
